<div class="container p-3">
  <div class="row">
    <div class="col-sm-4 mx-auto">
      <div class="card ">
        <div class="card-header text-dark" style="background-color: rgba(232, 240, 254, 0.60)">
          <font size=4>
            <i class="fa fa-user text-primary" aria-hidden="true"></i>
            <strong>Perfil Usuario</strong>
          </font>
        </div>
        <div class="card-body">
          <form action="/perfil/{{user.id}}" method="POST">
            <div class="form-group">
              Usuario
              <input type="text" class="form-control" name='username' id="username" placeholder="users"
                title="Max 20 caracteres" value="{{user.username}}" pattern="^([a-z]+[0-9]{0,2}){5,20}$" disabled>
            </div>
            <div class="form-group">
              Nombre Usuario
              <input type="text" class="form-control" name='fullname' id="fullname" placeholder="Nombre usuario"
                title="Max 50 caracteres" value="{{user.fullname}}" pattern="[a-zA-Z0-9áéíóúñŃ#@$&/ ,.'-]{3,50}"
                required>
            </div>
            <div class="form-group">
              Email
              <input type="email" class="form-control" name='email' id="email" placeholder="Email"
                pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required
                value="{{user.email}}">
            </div>
            <div class="form-group">
              Celular
              <input type="tel" class="form-control" name="cel" placeholder="Celular" title="Recibe solo numeros"
                pattern="^([0-9]){10,10}$" value="{{user.cel}}">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block ">Actualizar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>